<% if @users.length == 0 %>

    No Customer Found - <%= link_to('Add a new Customer?', 
        :action => 'new_customer') %>
      
<% elsif @users.length == 1 %>
  <%= render :partial => 'customer_info', :collection => @users %>
<% else %>
  <h3>Customer List - <%= @num_customers %> customers</h3>
  <div id="customer_list">
  <table>
  <% @users.each do |u| %>
    <% user = u[:user] %>
    <tr>
      <td><%= link_to("#{user.first_name} #{user.last_name} #{user.phone}", 
        display_customer_url(user.id)) %></td>
      <td><%= link_to('Edit', :action => 'edit_customer', :id => user.id) %></td>

      <% if customer_has_open_orders?(user.id) %>
        <td><%= link_to_function('Delete', "alert('Unable to delete customer: they have open orders.')")%></td>
      <% else %>
        <td><%= link_to('Delete', 
              {:action => 'delete_customer', :id => user.id}, 
              :confirm => 'Are you sure you want to delete this customer?') %></td>
      <% end %>
            
      <td><%= link_to('View Orders', :controller => 'order',
                    :action => 'view_user_orders', :id => user.id) %></td>
      <td><%= link_to('New Order', :action => 'new_order', :id => user.id) %></td>
      <td>No PERC points: <%= u[:points] %></td>
    </tr>
  <% end %>
  </table>
  </div>
<% end %>


