
<h3>This Delivery Was Completed On</h3>
<%= @delivery.delivery_date %>
<br>
<br>

<b>Customer</b><br>
<%= @pickup.user.first_name %> <%= @pickup.user.last_name %><br>
<%= @pickup.user.address1 %><br>
<%= @pickup.user.address2 %><br>
<%= @pickup.user.city %> <%= @pickup.user.zip %><br>
<%= @pickup.user.phone %>
<br><br>

<%= button_to('<-- Back', :action => 'pickup_manifest') %>
