<h3>Coupon Users</h3>

<%= @one_order %>% made one order

<table>
<% @user_mapping.keys.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.orders.count %></td>
        <% if user.orders.count > 0 %>
            <td><%= order_total(user.orders[0]) %></td>
            <td><%= user.orders[0].order_items.count%></td>
        <% end %>
      </tr>
<% end %>

</table>